# Practical Activity 2.1.10

In [9]:
# Import the package
import pandas as pd

In [ ]:
# Import the ott data set
movies = pd.read_csv('ott.csv')

In [ ]:
# Import the movies data set
movies = pd.read_excel('movies.xlsx')

In [16]:
# Validate ott data with shape
ott.shape

(16744, 5)

In [17]:
# Validate ott data with head
ott.head()

   ID  Netflix  Hulu  Prime Video  Disney+
0   1        0     0            1        0
1   2        0     1            0        0
2   3        0     0            1        0
3   4        1     0            0        0
4   5        0     0            1        0

In [18]:
# Validate ott data with tail
ott.tail()

          ID  Netflix  Hulu  Prime Video  Disney+
16739  16740        0     0            1        0
16740  16741        0     0            1        0
16741  16742        0     0            1        0
16742  16743        0     0            1        0
16743  16744        1     0            0        0

In [14]:
# Validate movie data with shape
movies.shape

,Title,Year,Age,IMDb,Rotten Tomatoes,Directors,Genres,Country,Language,Runtime
16739,The Ghosts of Buxley Hall,1980,NaN,6.2,NaN,Bruce Bilson,"Comedy,Family,Fantasy,Horror",United States,English,120.0
16740,The Poof Point,2001,7+,4.7,NaN,Neal Israel,"Comedy,Family,Sci-Fi",United States,English,90.0
16741,Sharks of Lost Island,2013,NaN,5.7,NaN,Neil Gelinas,Documentary,United States,English,NaN
16742,Man Among Cheetahs,2017,NaN,6.6,NaN,Richard Slater-Jones,Documentary,United States,English,NaN
16743,In Beaver Valley,1950,NaN,NaN,NaN,James Algar,"Documentary,Short,Family",United States,English,32.0

In [ ]:
# Validate movie data with head
movies.head()

In [ ]:
# Validate movie data with shape
movies.tail()

In [20]:
# Describe the data type of ott
print(ott.dtypes)

ID             int64
Netflix        int64
Hulu           int64
Prime Video    int64
Disney+        int64
dtype: object

In [22]:
# Describe the data type of movies 
print(movies.dtypes)

Title               object
Year                 int64
Age                 object
IMDb               float64
Rotten Tomatoes    float64
Directors           object
Genres              object
Country             object
Language            object
Runtime            float64
dtype: object